

<!-- Core Libs -->
<script
    src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script
    src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script
    src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/vendor/onscreen/dist/on-screen.umd.min.js"></script>
<script
    src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/vendor/nouislider/distribute/nouislider.min.js"></script>
<script
    src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/vendor/countup.js/dist/countUp.umd.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/vendor/chartist/dist/chartist.min.js"></script>
<script
    src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script
    src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
<script
    src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/vendor/simple-datatables/dist/umd/simple-datatables.js"></script>
<script
    src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script
    src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/vendor/fullcalendar/main.min.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/vendor/dropzone/dist/min/dropzone.min.js"></script>
<script
    src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/vendor/notyf/notyf.min.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/vendor/leaflet/dist/leaflet.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/vendor/svgmap/dist/svgMap.min.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/vendor/simplebar/dist/simplebar.min.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/vendor/sortablejs/Sortable.min.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Volt PRO -->
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/js/volt.js"></script>

